@use "./variables" as *;
@use "./mixins" as *;

/* 全局补充（极少） */
html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.default-transition {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
